[Desktop Entry]
Name=Your Application Name
Comment=Downloader for YouTube video and audio
Exec=/home/oem/myenv/bin/python3 /home/oem/Downloads/YTDL.py
Icon=/home/oem/Downloads/auska.png
Terminal=false
Type=Application
Categories=Utility;
Name[en_US]=YTDL

