[Desktop Entry]
Name=Your Application Name
Comment=Downloader for YouTube video and audio
Exec=/home/oem/YoutubeDLGUI/venv/bin/python3 /home/oem/YoutubeDLGUI/YTDL.py
Icon=/home/oem/YoutubeDLGUI/asuka.png
Terminal=false
Type=Application
Categories=Utility;
Name[en_US]=YTDL

